* {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0;
}

a {
    text-decoration: none;
}

.all-wrap {
    width: 100%;
    height: 100%;
}

.mobile-top-bar {
    width: 100%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
    z-index: 1;
}

.mobile-top-bar .item:first-child {
    margin-left: 4px;
    float: left;
    display: block;
}

.mobile-top-bar .item:last-child {
    margin-right: 4px;
    float: right;
    display: block;
}

.normal-top-bar {
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
    line-height: 2.8125rem;
    height: 2.8125rem;
    z-index: 1;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background: transparent;
    overflow: visible;
}

.top-bar-aside {
    -webkit-backface-visibility: hidden;
    background: #31fddf;
    bottom: 0;
    box-sizing: content-box;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    transition: transform 500ms ease 0s;
    width: 15.625rem;
    z-index: 1001;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    right: 0;
    top: 0;
}

.normal-top-bar .item {
    display: inline-block;
}

.header-container {
    position: relative;
    display: block;
}

.header-container img {
    max-width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 0;
}

.middle-container {
    background: #6f6f6f;
    height: 800px;
}

.footer-container {
    background: rgba(222, 0, 0, 0.5);
    width: 100%;
    height: auto;
}

.footer-container > * {
    margin: 0;
    padding: 0;
}

/*新的*/
.nav-vertical-bar {
    position: fixed;
    right: 45px;
    z-index: 1;
    top: 45%;
    max-width: 200px;
}

.li-dot {
    display: inline-block;
    right: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgba(49, 253, 223, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.17), 0 0px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
}

.nav-vertical-bar .bar-li {

    width: 200px;
    float: right;
    margin-bottom: 10px;
}

.nav-vertical-bar .bar-li a {
    display: inline-block;
    line-height: 20px;
    height: 20px;
    text-align: center;
}

.nav-vertical-bar .bar-li a div {
    position: absolute;
    right: 0;
}

.li-label {
    right: 0;
    display:none;
    /*display: inline-block;*/
    background-color: rgba(49, 253, 223, 0.8);
    border-radius: 20px;
    padding: 4px 14px;
    color: #141414;
    animation: anim-nav-vertial-show 0.3s;
    -moz-animation: anim-nav-vertial-show 0.3s; /*!* Firefox *!*/
    -webkit-animation: anim-nav-vertial-show 0.3s; /*!* Safari 和 Chrome *!*/
    -o-animation: anim-nav-vertial-show 0.3s; /*!* Opera *!*/
}

.nav-select {
    background: rgba(222, 0, 0, 0.1);
}

/*动画*/
@keyframes anim-nav-vertial-show {
    0% {
        transform: scale(0.8);
        right: -10px;
    }
    100% {
        transform: scale(1.0);
        right: 0px;
    }
}

@-moz-keyframes anim-nav-vertial-show /* Firefox */
{
    0% {
        transform: scale(0.8);
        right: -10px;
    }
    100% {
        transform: scale(1.0);
        right: 0px;
    }
}

@-webkit-keyframes anim-nav-vertial-show /* Safari 和 Chrome */
{
    0% {
        transform: scale(0.8);
        right: -10px;
    }
    100% {
        transform: scale(1.0);
        right: 0px;
    }
}

@-o-keyframes anim-nav-vertial-show /* Opera */
{
    0% {
        transform: scale(0.8);
        right: -10px;
    }
    100% {
        transform: scale(1.0);
        right: 0px;
    }
}
