@charset "utf-8";
/* Packaged at 2016/3/27. */
/* Designed and developed by YouXi. */

html, body {
    height: 100%
}

body {
    background: #FFF;
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}

body, input, textarea {
    background: #fff;
    color: #69606b;
    font-size: 22px;
    line-height: 1.45;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden
}

a {
    outline: 0;
    color: #cf4a5c;
    text-decoration: none;
    transition: color .25s ease-in-out
}

a:hover, a:focus {
    color: #69606b
}



*, *:after, *:before {
    box-sizing: border-box
}

.clearfix:before, .clearfix:after {
    display: table;
    content: ''
}

.clearfix:after {
    clear: both
}

::selection {
    background-color: rgba(207, 74, 92, 0.15)
}

.content {
    margin: 0 auto;
    padding: 0 0 1em
}

body.init {
    overflow: hidden;
    pointer-events: none
}

body.init > header, body.init > section, body.init > footer {
    opacity: .05
}

body > header, body > section, body > footer {
    opacity: 1;
    transition: opacity 1s
}

body > header {
    position: relative;
    margin: 0 auto;
    min-height: 560px;
    height: 100%;
    width: 100%
}

body > header .header-background {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

body > header nav.top {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-weight: 800;
    font-size: .6em;
    padding: 0 32px;
    letter-spacing: 1px;
    z-index: 10000
}

body > header nav.top a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    transform: translateY(20px)
}

body > header nav.top span.right {
    float: right
}

body > header nav.top span.right a {
    display: block;
    float: left;
    color: #fff
}

body.modify header nav.top a {
    color: #fff
}

body > header .header-background {
    background-image: url("http://img.zcool.cn/community/focus/092b56eb6c200000012a4c2bb9f2.jpg");
    background-size: cover;
    background-position-x: 50%
}

body > header #back-sticker {
    display: none;
    position: absolute;
    width: 30%;
    height: auto;
    right: 1%;
    bottom: 0;
    transition: transform 1s ease-out
}

body > header #back-sticker.hidden {
    transform: translateX(100%) scale(1.1)
}

body > header .title {
    z-index: 1000;
    margin: 0 auto;
    padding: 0 1.25em;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

body > header .title h1 {
    padding: 0 0 .2em;
    color: #fff;
    font-weight: 800;
    font-size: 3.25em;
    margin: 0 auto
}

body > header .title p {
    color: #fff;
    padding: 0 0 .6em;
    font-weight: 300;
    font-size: .85em;
    margin: 0 auto
}

body > header .title h1, body > header .title p.subline {
    line-height: 1;
    text-align: center
}

body > header .title p.subline {
    font-size: 1.75em
}

body > header button.trigger {
    position: fixed;
    bottom: 40px;
    left: 50%;
    z-index: 5000;
    display: block;
    margin-left: -0.5em;
    padding: 0;
    width: 1em;
    height: 1em;
    border: 0;
    background: transparent;
    color: transparent;
    font-size: 2em;
    cursor: pointer
}

body > header button.trigger:before {
    position: absolute;
    bottom: 100%;
    left: -100%;
    padding: .8em;
    width: 300%;
    color: #fff;
    content: attr(data-info);
    font-size: .35em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

body > header button.trigger:focus {
    outline: 0
}

body > header button.trigger span {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%
}

body > header button.trigger span:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    content: "\e600";
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;

    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body > header body:not(.no-trans) button.trigger {
    transition: opacity .3s .5s
}

body.modify:not(.no-trans) > header button.trigger {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}

body.header-fadeout:not(.no-trans) .header-background {
    transition-property: transform
}

body.header-fadeout:not(.no-trans) .header-background::after {
    transition-property: opacity
}

body.header-fadeout:not(.no-trans) .header h1 {
    transition-property: color
}

body.header-fadeout:not(.no-trans) .header p, body.header-fadeout:not(.no-trans) .content > div {
    transition-property: transform, opacity
}

body.header-fadeout:not(.no-trans) .header-background, body.header-fadeout:not(.no-trans) .header-background::after, body.header-fadeout:not(.no-trans) .header h1, body.header-fadeout:not(.no-trans) .header p, body.header-fadeout:not(.no-trans) .content > div {
    transition-duration: .5s
}

body.header-fadeout .header {
    overflow: hidden
}

body.header-fadeout.modify .header-background {
    transform: translateY(-25%)
}

body.header-fadeout .header-background:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 101%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%)
}

body.header-fadeout.modify .header-background:after {
    opacity: 1
}

body.header-fadeout .title {
    text-align: left;
    max-width: 900px
}

body.header-fadeout.modify .header h1, body.header-fadeout .header p {
    color: #514753
}

body.header-fadeout .header p {
    opacity: 0
}

body.header-fadeout .header p:nth-child(2) {
    transform: translateX(150px)
}

body.header-fadeout .header p:nth-child(3) {
    transform: translateX(-150px)
}

body.header-fadeout.modify .header p:nth-child(2), body.header-fadeout.modify .header p:nth-child(3) {
    opacity: 1;
    transform: translateX(0)
}

body.header-fadeout #navbar {
    z-index: 1000;
    position: relative
}

body.header-fadeout #navbar > div {
    opacity: 0;
    transform: translateY(350px)
}

body.header-fadeout.modify #navbar > div {
    opacity: 1;
    transform: translateY(0)
}

section#navbar {
    margin-top: -100px;
    align-content: center;

}

section#navbar h2 {
    display: none
}

section#mian-content p{
    display: none
}

.img-nav{
    height:64px ;
    width:64px
}

.thumbnail{
    height: 70px;
    width: 70px;
}

.thumbnail a i{
    font-size: 64px;
}

.scrollblock {
    position: relative;
    margin: 0;
    width: 100%;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}
.block-create {
    background-color: #348fd4;
}
section#navbar div{
    margin: 0 auto;
    padding: 0 0 1em
}
/*.navbar-inverse {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}*/


/*section#programming .container > .row {
    max-width: 600px;
    margin: -50px auto 3.5em;
    transform: translateX(-6.5%)
}*/



/*
section#apple a > span {
    display: block;
    margin-top: .75em
}



section#more #player > iframe:first-child {
    display: block
}

section#more .description h3 {
    font-size: 1.35em;
    margin-bottom: .25em
}

section#more .description p {
    font-size: .9em;
    line-height: 1.25;
    letter-spacing: 0
}

section#more .description span {
    font-size: .75em;
    opacity: .75
}

section#more p.extra-links {
    text-align: center;
    font-size: .85em
}

section#more p.extra-links span {
    margin: .5em
}

section#say-hello {
<!-- background-image: url("images/nyc-background.jpg");
--> background-size: 100%;
    background-size: cover;
    padding-top: 3.5em;
    padding-bottom: 2.5em
}

section#say-hello #comment input, section#say-hello #comment textarea {
    width: 100%;
    padding: .75em;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fdfdfd;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color .5s
}

section#say-hello #comment.completed input, section#say-hello #comment.completed textarea {
    background-color: rgba(255, 255, 255, 0.25)
}

section#say-hello #comment button {
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 2px solid;
    border-color: #eaeaea #eee #fff;
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-appearance: none;
    font-size: 32px;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    transition: background-color .5s
}

section#say-hello #comment button:hover {
    background-color: rgba(255, 255, 255, 0.5)
}

section#say-hello #comment.completed button {
    background-color: rgba(180, 230, 110, 0.75)
}

section#say-hello #comment.wrong button {
    background-color: rgba(230, 110, 110, 0.75)
}

section#say-hello #comment button .icon-spinner {
    margin-left: 3px;
    line-height: 1.5
}

section#say-hello #comment button .icon-done {
    line-height: 1.25;
    margin-left: 5px
}

section#say-hello #comment button .icon-error {
    line-height: 1.5;
    margin-left: 5px
}

section#contact {
    padding-top: 3.5em
}

section#contact p ~ a {
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em
}

section#contact h3 {
    text-align: center;
    font-size: 1.25em;
    margin-top: 2em
}

section#contact .sns-icons {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 1.25em
}*/

body > footer {
    text-align: center
}

#back-to-top {
    width: 48px;
    height: 48px;
    padding-top: 5px;
    margin: 3em auto 1.5em;
    border: 2px solid;
    border-color: #cf4a5c;
    border-radius: 100%;
    transition: border-color .5s ease-in-out;
    cursor: pointer
}

#back-to-top:hover {
    border-color: #69606b
}

#back-to-top path {
    transition: fill .5s ease-in-out
}

#back-to-top:hover path {
    fill: #69606b
}


html.ios *[data-action=switch-fullscreen-mode] {
    display: none
}

html.ios section#say-hello #comment button i {
    margin-left: -25px
}

html.fucking-ie body.init {
    overflow-y: scroll
}

html.fucking-ie body > header .title {
    text-align: center;
    margin: 0;
    padding: 0;
    transform: none;
    top: 35%;
    left: 0;
    max-width: none
}

html.fucking-ie section#navbar {
    margin-top: 50px
}

html.fucking-ie #maps, html.fucking-ie #montage, html.fucking-ie #mian-content a, html.fucking-ie #back-to-top, html.fucking-ie button.trigger {
    display: none
}

html[lang=en] body > header nav.top span.right a {
    letter-spacing: -1px
}

@keyframes spinning {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

@media (min-width: 1469px) {
    body > header #back-sticker {
        display: block
    }
}


@media (max-width: 727px) {
    body, input, textarea {
        font-size: 20px
    }

    body > header .title h1 {
        font-size: 2.75em
    }

}

@media (max-width: 535px) {
    body, input, textarea {
        font-size: 16px;
        line-height: 1.35
    }

    body > header .title h1 {
        font-size: 2.25em
    }

}